<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Bus Booking System</h5>
                <p>Book your bus tickets online with ease and convenience.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="/search" class="text-white">Search Buses</a></li>
                    <li><a href="/about" class="text-white">About Us</a></li>
                    <li><a href="/contact" class="text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <address>
                    <p>123 Bus Street, City, Country</p>
                    <p>Email: info@busbooking.com</p>
                    <p>Phone: +1 234 567 890</p>
                </address>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; <%= new Date().getFullYear() %> Bus Booking System. All rights reserved.</p>
        </div>
    </div>
</footer> 